h1 {
    color: black;
    text-align: center;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
}

table {
    margin: 6% 0 0 46%;
}

input {
    display: block;
    margin: 0 0 10px 625px;
    height: 30px;
    width: 200px;
}

a {
    display: block;
}