html
    title Node Overview
    link(href="stylesheet/style.css", rel='stylesheet')
    body
        h1 Add new user
        a(href="/") Home
        form(action="/addUser" method="POST")
            input(name="name" placeholder="name")
            input(name="age" placeholder="age")
            input(type="submit")